body{
	background: #232323;
	font-family: "Montserrat", "Avenir";
}
.border{
	background: purple;
	width: 30%;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	border-radius: 20%;
	transition: background 0.5s;
}
.container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	text-align: center;
	text-transform: uppercase;
	background: steelblue;
	color: white;
	font-weight: normal;
	margin: 0;
	padding: 15px;
}
body{
	margin: 0;
}
#rgb{
	font-size: 200%;
}

button{
	background: none;
	border: none;
	color: steelblue;
	height: 100%;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 15px;
	outline: none;
}

button:hover{
	background: steelblue;
	color: white;
	transition: all 0.5s;
}

.effect{
	background: steelblue;
	color: white;	

}

#nav{
	background: white;
	height: 30px;
	text-align: center;

}

#message{
	display: inline-block;
	width: 20%;
}